* {
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	list-style: none;
}

body {
	background-color: #fabada;
	margin: 0;
	height: 100vh;
}

.input {
	height: 30px;
	border-radius: 10px;
	width: 300px;
}
.button {
	height: 30px;
	border-radius: 10px;
}


