<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Buscador de Series</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./icon_tv.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <h1 class="title">Buscador de series</h1>
      <form action="" method="post" id="search-form">
          <input class="input" id='search-input' type="text" value="">
          <button class="button" id="search-button" type="button">Search</button>
      </form>
      <main>
          <ul class ="list" id="series-list"></ul>
      </main>
      <script src="./assets/js/main.js" type="text/javascript"></script>
  </body>
</html>
